[submodule "opencv"]
	path = catkin_ws/src/world_mapper/lib/opencv
	url = https://github.com/opencv/opencv.git
[submodule "web"]
	path = web/-RealityVirtualVirturalizer-Interface
	url = https://github.com/Jimson91/-RealityVirtualVirturalizer-Interface.git
[submodule "json"]
	path = catkin_ws/src/world_mapper/lib/json
	url = https://github.com/nlohmann/json.git
[submodule "serial"]
	path = catkin_ws/src/world_mapper/lib/serial
	url = https://github.com/wjwwood/serial.git
[submodule "desktopui"]
    path = src/DesktopUI
	url = https://github.com/Waleed-tech/DesktopUI.git