<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <!-- sidenav  -->
  <mat-sidenav-container autosize>
    <mat-sidenav #sidenav mode="side" opened>
      <div class="sidenav-header">
        <mat-icon>3d_rotation</mat-icon>
        <span style="margin:0;" class="mat-display-1">Prototype</span>
      </div>
      <mat-nav-list>
        <h4 class="headline-title">Powered by</h4>
        <img matListAvatar src="assets/ros_logo.png">
        <br>
        <section class="mat-typography">
          <a mat-list-item [routerLink]="'dashboard'">
            <mat-icon>dashboard</mat-icon>Dashboard
          </a>
          <a mat-list-item>
            <mat-icon>cast</mat-icon>Start Scanning
          </a>
          <a mat-list-item (click)="toggleFileBrowser()">
            <mat-icon>file_copy</mat-icon>
            <span *ngIf="!browserSelected">Show Data Files</span>
            <span *ngIf="browserSelected">Hide Data Files</span>
          </a>
        </section>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <main>
        <app-statusbar></app-statusbar>
        <app-filesystem *ngIf="browserSelected"></app-filesystem>
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</body>
