<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <!-- sidenav  -->
  <mat-sidenav-container autosize>

    <!-- left sidenav  panel -->
    <mat-sidenav #left id="left-sidenav" mode="side" position="start" opened>
      <app-sidenav></app-sidenav>
    </mat-sidenav>

    <!-- right sidenav panel -->
    <mat-sidenav #right id="right-sidenav" mode="side" position="end" opened>
      <app-filesystem></app-filesystem>
    </mat-sidenav>
    <!-- end of right side panel-->

    <mat-sidenav-content>
      <main>
        <!--<div class="row">-->
        <router-outlet>
          <!--<div class="col-lg-12">-->
          <!-- workaround: we have to manually insert this div for the map due to incompatibility
                with ROS3D and javascript frameworks such as angular-->
          <div id="map"></div>
          <!--</div>-->
        </router-outlet>
        <!--</div>-->
      </main>
      <app-statusbar></app-statusbar>
    </mat-sidenav-content>
  </mat-sidenav-container>
</body>