/* Mobile RVV  */
/* Html  */
html{
     margin: 0px; 
     padding: 0px;	
     height: 100%;
     width: 100%;
	 font-size: 12px;
     font-family: Geneva, sans-serif;
}
/* Body  */
body{
     margin: 0px; 
     padding: 0px;	
     height: 100%;
     width: 100%;
	 font-size: 12px;
     font-family: Geneva, sans-serif;
}
/* href link  */
a{
     color: #000000;
     text-decoration: none;
}
/* Image  */
img{
     width: 100%; 
     height: 100%;
	 image-rendering: auto;
}
/* Span  */
span{
     margin: auto;
}
/* Canvas  */
canvas{
     display: block;
}
/* IPhone Size  */
@media screen and (min-width: 0px) and (max-width: 600px){
     /* Wrapping  */
	 .zeta-borderRadius{
	 	 border-radius: 0px;
     }
	 /* Wrapping  */
     .zeta-wrap{
         width: 100%; 
         position: relative;
         margin: 0 auto;
	     padding: 0px;
	     padding-top: 65px;
     }	    
}
/* IPad Size */
@media screen and (min-width: 600px) and (max-width: 980px){
	 /* Wrapping  */
	 .borderRadius{
	 	 border-radius: 5px;
     }
     /* Wrapping  */
     .zeta-wrap{
         width: 98%; 
         position: relative;
         margin: 0 auto;
	     padding: 0px;
	     padding-top: 80px;
     }
}
/* PC Size */
@media screen and (min-width: 980px){
	 /* Border Radius */
     .borderRadius{
	 	 border-radius: 5px;
     }
	 /* Wrapping  */
     .wrap{
	     width: 80%;
	     display: block;
	     position: relative;
	     margin: 0 auto;
	     padding: 0px;
     }	
}