.container-fluid {
  background-color: rgb(241, 173, 173);
}

.image_wrapper {
  height: 80vh;
  text-align: center;
}

.spacer {
  flex: 1 1 auto;
}

#coordinates-bar {
  height: 5%;
  font-size: 1vw;
}

canvas {
  display: block;
}
