.container-fluid {
  background-color: rgb(231, 226, 226);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
}

.warning_template {
  text-align: center;
  width: 30%;
  background-color: rgb(245, 129, 129);
}

.wrapper {
  display: flex;
  height: 30vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 30vh;
}

#error_bridge {
  width: 40%;
}

#error_scan {
  width: 40%;
}

.warning_message {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  height: 30vh;
}

.warning_message button {
  background-color: rgb(233, 125, 125);
  color: #fff;
}

.spacer {
  flex: 1 1 auto;
}

#canvas {
  height: 80vh;
}

#coordinates-bar {
  height: 5%;
  font-size: 1vw;
}

.camera_wrapper {
  height: 80vh;
  text-align: center;
}
