.mat-list-item.active {
  background-color: #3f51b5;
  color: #fff;
}

.mat-list-item {
  color: gray;
}

.mat-list-item:hover {
  color: black;
}

.mat-list-item.active:hover {
  color: white;
}

.mat-card {
  overflow: auto;
  height: 90vh;
}

.col {
  overflow: auto;
  padding: 0;
}
